<!doctype html>
<html lang="en">

<head>
    <title>Medical ChatBot</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <div class="row pt-4">
            <img src="/static/logo.png" alt="" class="logo-img">
        </div>
        <div class="row justify-content-center pt-2">
            <h1>Medical chatbot</h1>
        </div>
        <div class="row">
            <div class="col" id="chat">
                <p class="chatbotText"><span>Hi!</span></p>
            </div>
        </div>
        <div class="row fieldset-input-row">
            <div class="col-12" id="userInput">
                <fieldset class="d-flex justify-content-center py-3">
                    <input class="mr-3" type="text" name="userMessage" id="inputUserMessage" placeholder="Type your message...">
                    <input type="submit" value="Send" id="btnSendUserMessage" onclick="getUserMessage()">
                </fieldset>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

<script>
    function getUserMessage() {
        let userMessage = $('#inputUserMessage').val();
        if (userMessage) {
            let messageHTML = `<p class='userText'>${userMessage}</p>`;
            $('#chat').append(messageHTML);
            $('#inputUserMessage').val('');

            $.get('/get', { query: userMessage }).done(function (data) {
                let modelResponseHTML = `<p class='chatbotText'>${data}</p>`;
                $('#chat').append(modelResponseHTML);
                window.scroll({
                    top: document.body.scrollHeight,
                    behavior: 'smooth'
                });
            });
        }
    }

    $('#inputUserMessage').keypress(function (e) {
        if (e.which == 13) {
            getUserMessage();
        }
    })

</script>

</html>